@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/roboto_regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(../fonts/montserrat.woff) format('woff');
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: url(../images/site-background.jpg) no-repeat center -538px;
  position: relative;
  width: 100%;
  margin: auto;
}

.right {
  float: right;
}

.active-section {
  width: 22px;
  margin-left: -8px;
  left: 50%;
  padding-bottom: 3px;
  border-bottom: 3px solid #2888f8;
  position: absolute;
}

main {
  overflow: hidden;
  width: 100%;
  max-width: 1348px;
  margin: 245px auto auto;
}

body > footer {
  background-image: url(../images/footer.png);
  margin-top: 90px;
  height: 86px;
  line-height: 1.6%;
  font-weight: 100;
  color: #FFF;
  width: 100%;
}

body > footer p {
  padding-top: 35px;
}

main > section > header {
  font-size: 46px;
  text-transform: uppercase;
  position: relative;
}

main > section > header:after {
  content: '';
  width: 96px;
  height: 8px;
  position: absolute;
  left: 50%;
  margin-left: -48px;
  background-color: #186bf5;
  bottom: -14px;
}

#intro,#projects,#open-source,#community,#contact {
  margin-bottom: 60px;
}

ul {
  list-style: none;
}

li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #3e404f;
  margin: 0 20px;
}

section {
  min-width: 700px;
}

div.header-main {
  max-width: 1348px;
  position: relative;
  top: 0;
  margin: auto;
}

body > header {
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0;
  min-width: 660px;
  height: 65px;
  margin-top: -65px;
  transition: all .3s, linear;
  background-color: #FFF;
  padding: 0;
  opacity: 0;
  border-bottom: 1px solid #d6d6d6;
  z-index: 9999;
}

header.visible {
  margin-top: 0;
  opacity: 1;
}

header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 36px;
}

h1 {
  display: block;
  position: relative;
}

h1 a {
  background: url(../images/rebased-logo-full.png) no-repeat;
  display: block;
  position: relative;
  width: 200px;
  text-indent: -9999px;
  height: 40px;
  top: 20px;
  left: 148px;
}

nav {
  height: 24px;
  padding: 25px 50px 0 0;
}

nav li {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

nav li a {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 18px;
}

nav ul li a:hover:after {
  content: '';
  width: 22px;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  background-color: #2888f8;
  bottom: -6px;
}

.menu-controls {
  display: none;
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/sapphire-menu-bg.png);
  background-repeat: repeat-x;
  border-radius: 6px 6px 6px 6px;
  color: #FFF;
  height: 36px;
  position: relative;
  text-align: left;
}

.menu-title {
  color: #FFF;
  font-size: 16px;
  left: 15px;
  position: relative;
  text-shadow: 1px 1px 1px #000;
  top: 10px;
}

.menu-button {
  display: block;
  position: absolute;
  right: 15px;
  top: 6px;
  border: 1px solid #3e587b;
  border-radius: 3px;
  background-image: url(../images/sapphire-menu-bg.png);
  background-position: top;
  padding: 0 7px 4px;
}

.menu-button span {
  background: none repeat scroll 0 0 #FFF;
  display: block;
  height: 2px;
  margin-top: 4px;
  width: 24px;
}

#intro header {
  color: #FFF;
}

#header {
  font-size: 61px;
  margin: 0 0 34px -7px;
}

#subheader {
  font-size: 36px;
  text-transform: none;
  font-weight: 600;
  padding-left: 21px;
  margin: 0 0 190px -2px;
}

#intro section {
  position: relative;
  width: 76%;
  margin: auto;
}

#intro section p {
  color: #474747;
  line-height: 140%;
  font-weight: 100;
  letter-spacing: .1px;
  font-size: 21px;
  margin: auto;
}

#intro section > p > span#call-to-action {
  font-weight: 700;
}

section#intro > section > p:first-of-type:before,section#intro > section > p:first-of-type:after {
  display: inline-block;
  font-size: 116px;
  font-family: 'Montserrat', sans-serif;
  color: #2888f8;
  position: absolute;
  top: 31px;
}

section#intro > section > p:first-of-type:before {
  content: '{';
  float: left;
  left: -90px;
}

section#intro > section > p:first-of-type:after {
  content: '}';
  float: right;
  right: -90px;
}

#team figure {
  position: relative;
  cursor: pointer;
  margin: 0;
}

#team figure:hover figcaption {
  background: rgba(25,79,214,0.9);
}

#team figure:hover img,#team figure:hover header,#team figure:hover p {
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

#team figure:hover img {
  top: 0;
  opacity: 1;
}

#team figure:hover header {
  margin-top: 132px;
  font-size: 44px;
  font-weight: 800;
  top: 0;
}

#team figure:hover p {
  bottom: 0;
  overflow: visible;
  opacity: 1;
}

#team figure > img {
  width: 306px;
  height: 306px;
  background-color: gray;
}

#team figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: #FFF;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  overflow: hidden;
}

#team figcaption header {
  font-size: 38px;
  font-weight: bold;
  position: relative;
  overflow: visible;
  opacity: 1;
  letter-spacing: -.7px;
  margin: 232px 0 -156px;
}

#team figcaption header p {
  font-size: 18px;
  line-height: 160%;
  opacity: 0;
}

#team figcaption footer {
  margin-top: 75px;
}

#team figcaption > p {
  width: 294px;
  height: 100px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 115%;
  position: relative;
  bottom: 100%;
  opacity: 0;
  margin: auto;
}

img.twitter {
  width: 50px;
  height: 40px;
  padding-bottom: 5px;
  margin-right: -30px;
}

img.github {
  position: relative;
  width: 52px;
  height: 50px;
  margin-left: -15px;
}

a.hide-twitter {
  margin: auto;
}

#team li {
  float: left;
  width: 306px;
  margin: 35px;
}

#team li:nth-of-type(3n) {
  margin-right: 0;
}

#team li:nth-of-type(3n-2) {
  margin-left: 0;
}

hr.divider-line,hr.extend-divider-line {
  position: relative;
  height: 1px;
  color: #a0a0a0;
  width: 100%;
  left: 0;
}

hr.divider-line {
  top: -92px;
}

div.divider-button-background,div.extend-divider-button-background {
  background-color: #FFF;
  height: 40px;
  overflow: visible;
  position: relative;
  top: -38px;
}

a.divider-button {
  display: block;
  width: 62px;
  height: 31px;
  margin: auto;
}

a.divider-button > img {
  border-top: 1px solid #FFF;
  overflow: hidden;
  position: relative;
  top: 1px;
  z-index: 2222;
}

#team > section {
  overflow: hidden;
  height: 926px;
  max-width: 1058px;
  width: 100%;
  margin: auto;
}

#team > div.gradient {
  position: relative;
  height: 100px;
  width: 100%;
  top: -178px;
  background: rgba(255,255,255,0);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

#team section.extend-section {
  height: auto;
}

#team hr.extend-divider-line {
  top: -85px;
}

#team div.extend-divider-button-background {
  top: -60px;
}

div.extend-divider-button-background a.divider-button img {
  margin-top: 10px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  position: relative;
  bottom: 22px;
}

.twitter,.github {
  background: url(../images/twitter.png) no-repeat center center;
  margin: 5px;
}

.github {
  background: url(../images/github.png) no-repeat;
}

#projects ul {
  padding-top: 36px;
  width: 1052px;
  margin: auto;
}

#projects li {
  float: left;
  width: 290px;
  height: 340px;
  font-size: 16px;
  color: #474747;
  font-weight: 100;
  line-height: 150%;
  padding: 0 29px;
}

#projects li:nth-of-type(3n-1) {
  border-right-width: 1px;
  border-left-width: 1px;
  border-color: #d6d6d6;
  border-style: solid;
}

#projects li:nth-of-type(-n+3) {
  border-bottom-width: 1px;
  border-color: #d6d6d6;
  border-style: solid;
}

#projects figure > figcaption {
  position: absolute;
  text-align: center;
}

#projects figure > img {
  width: 240px;
  height: 190px;
  padding-top: 20px;
  margin: 20px 25px;
}

section#projects {
  overflow: hidden;
}

section#open-source > ul > li {
  border-bottom-width: 1px;
  border-color: #d6d6d6;
  border-style: solid;
  padding: 30px 0 0;
}

#open-source div {
  position: relative;
  height: 100%;
}

#open-source div > .open-source-project {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 100%;
  display: inline-block;
}

section#open-source .open-source-project > ul > li.team,#open-source .open-source-project li > img,#open-source div li > a {
  width: 95px;
}

#open-source .open-source-project > ul {
  position: absolute;
  left: 600px;
  top: 0;
  width: 350px;
  padding-bottom: 10px;
}

section#open-source .open-source-project > ul > li.team {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
}

#open-source .open-source-project li > img {
  background-color: gray;
  margin: 0 5px;
}

#open-source div li > a {
  position: relative;
  top: -97px;
  left: 5px;
  background: rgba(25,107,246,0.8);
  opacity: 0;
  height: 95px;
  margin: 0;
}

#open-source div li > a > img {
  width: 39px;
  height: 39px;
  position: relative;
  left: 28px;
  top: 28px;
}

#open-source div li > a:hover {
  opacity: 1;
}

#open-source .open-source-project > header {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: -1.5px;
  font-weight: bold;
}

#open-source .open-source-project > p {
  max-width: 600px;
  width: 100%;
  font-size: 21px;
  line-height: 150%;
  font-weight: 100;
  margin-top: -15px;
}

#open-source section > header {
  margin-bottom: 35px;
}

#community li {
  padding-bottom: 32px;
}

#community img {
  padding-left: 10px;
  padding-right: 70px;
  display: inline-block;
  vertical-align: top;
}

#community .community-project {
  max-width: 80%;
  display: inline-block;
}

#community .community-project > header {
  margin-bottom: 12px;
  margin-top: -2px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  color: #474747;
  line-height: 90%;
}

#community .community-project > p {
  font-size: 14px;
  line-height: 160%;
  font-weight: 100;
}

section#community > header {
  margin-bottom: 50px;
}

section#community > ul {
  padding-top: 20px;
}

section#contact {
  max-width: 1052px;
  width: 100%;
  min-width: 0;
  margin: auto;
}

section.contact-address {
  min-width: 0;
}

section#contact > .map {
  display: inline-block;
}

section#contact > .map-lower {
  display: none;
  width: 515px;
  margin: auto;
}

section#contact > figure {
  padding-top: 30px;
  width: 515px;
  display: inline-block;
  margin: auto;
}

#contact figcaption > div {
  padding-left: 70px;
  width: 425px;
  margin: auto;
}

#contact figure img {
  position: relative;
  padding-bottom: 100px;
  display: block;
  margin: auto;
}

#contact p {
  margin: 1em auto;
}

#title,#contact figcaption address {
  font-size: 16px;
  line-height: 160%;
}

#title,#contact figcaption header,#title {
  letter-spacing: -1px;
}

#title {
  font-weight: bold;
  display: inline-block;
  margin-top: -3px;
}

#contact figcaption address {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 100;
}

section#contact > figure figcaption section > header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.text-center,#projects section > figure {
  text-align: center;
}

.left,#open-source div > img, .main-menu > li {
  float: left;
}

.hide,#intro header:after,#team footer a.hide,.hide-twitter img.twitter,.hide-github img.github {
  display: none;
}

#projects figure,section#contact figcaption {
  position: relative;
}

section#open-source > ul,#community > ul {
  max-width: 1052px;
  width: 100%;
  margin: auto;
}

.job-offer {
  padding: 0px 50px;
  margin-top: 380px;
}
.job-offer p {
  line-height: 150%;
  font-weight: 100;
}

.job-offer ul {
  list-style: initial;
  padding-left: 20px;
}

.job-offer li {
  line-height: 150%;
}
.job-offer h2 {
  font-size: 18px;
  line-height: 300%;
}
.job-offer footer {
  margin-top: 20px;
}


@media(max-width: 1080px) {
  body > header {
    overflow: initial;
  }

  nav {
    padding: 25px 0px 0px 0px;
  }

  #team ul {
    width: 675px;
    height: 100%;
    margin: auto;
  }

  #team li {
    width: 685px;
    margin: 30px auto;
  }

  #team figure {
    width: 750px;
    margin: auto;
  }

  #team figure img {
    top: 0;
    opacity: 1;
  }

  #team figure header {
    margin-top: 100px;
    font-size: 44px;
    font-weight: 800;
    top: 0;
  }

  #team figure p {
    bottom: 0;
    overflow: visible;
    opacity: 1;
  }

  #team figcaption header p {
    opacity: 1;
  }

  #team figure figcaption {
    color: #000;
    cursor: default;
    display: inline-block;
    width: 435px;
    position: absolute;
    top: 20px;
  }

  .empty {
    height: 50px;
    display: block;
  }

  .twitter,.github {
    background: url(../images/twitter_rev.png) no-repeat center center;
    margin: 5px;
  }

  .github {
    background: url(../images/github_rev.png) no-repeat;
  }

  #team figure:hover figcaption {
    background: transparent;
  }

  #team > section {
    height: 1260px;
  }

  #team section.extend-section {
    height: auto;
  }

  #team hr.extend-divider-line {
    top: -84px;
  }

  #projects ul {
    width: 702px;
  }

  #projects li:nth-of-type(3n-1) {
    border-width: 0;
  }

  #projects li:nth-of-type(odd) {
    border-right: solid 1px #d6d6d6;
    border-color: #d6d6d6;
  }

  #projects li:nth-of-type(3),#projects li:nth-of-type(4) {
    border-top: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
  }

  #open-source .open-source-project > ul {
    position: relative;
    top: 15px;
    left: 0;
  }

  section#open-source > ul > li {
    max-width: 720px;
    margin: auto;
  }

  #open-source div {
    height: 100%;
    clear: both;
  }

  #community .community-project {
    max-width: 70%;
    margin: auto;
  }

  #community li {
    max-width: 880px;
    margin: auto;
  }

  section#contact > .map {
    display: none;
  }

  section#contact > .map-lower {
    display: block;
  }

  section#contact > figure {
    display: block;
    margin-bottom: 30px;
  }

  #contact figure img {
    padding-bottom: 50px;
  }

  #projects li,#projects li:nth-of-type(-n+3) {
    border: none;
  }
}

@media(max-width: 1029px) {
  body {
    background: url(../images/site-background.jpg) no-repeat center -485px;
  }

  body > header {
    height: 65px;
    background-color: #FFF;
    border-bottom: 1px solid #d6d6d6;
    z-index: 9999;
  }

  h1 a {
    top: 0px;
    left: 0px;
  }

  .header-main > nav {
    padding-right: 50px;
    width: 300px;
  }

  .main-menu {
    opacity: 0;
    background-color: #555;
    border-radius: 6px 6px 6px 6px;
    min-height: 36px;
    width: 300px;
    overflow: hidden;
    position: relative;
    height: 0;
    transition: all 0.5s linear;
    top: 5px;
  }
  .main-menu.active {
    opacity: 1;
    height: 378px; // 7 * 54, not auto - to move it stightly down
  }

  .main-menu li {
    background-color: #537698;
    border-bottom: 1px solid #3C5779;
    border-top: 1px solid #6883A6;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
    width: 100%;
    padding: 10px 0;
  }

  .main-menu li a {
    color: #fff;
  }

  body > header,header.visible {
    height: 130px;
  }

  .header-main > h1 {
    left: 70px;
    top: 48px;
  }

  .menu-button {
    height: 55px;
    background-image: url(../images/sapphire-menu-bg2.png);
  }

  .menu-button span {
    margin-top: 10px;
    width: 65px;
    height: 7px;
  }

  nav li a {
    font-size: 32px;
  }

  .menu-controls {
    display: block;
    background-image: url(../images/sapphire-menu-bg2.png);
    height: 71px;
  }

  .menu-title {
    top: 18px;
    font-size: 32px;
  }

  #team ul li.empty{
    display: none;
  }
}

@media(max-width: 760px) {
  .open-source-project {
    padding-left: 10px;
  }

  #open-source div > .open-source-project {
    max-width: 400px;
  }

  section#open-source > ul > li {
    max-width: 550px;
    min-width: 550px;
    margin: auto;
  }

  #community .community-project {
    max-width: 60%;
  }

  #community li {
    max-width: 550px;
    margin: auto;
  }
}
