html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  margin: auto;
  background: url(../images/header.png) no-repeat right;
  background-position: 0 5rem;
}

body.noscroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

li a {
  display: block;
  text-decoration: none;
  margin: 0 1.25rem;
}

body > footer {
  background: url(../images/footer-mobile.png) no-repeat;
  background-size: cover;
  margin-top: 3rem;
  line-height: 1.5rem;
  font-weight: 100;
  color: #FFF;
  width: 100%;
}

body > footer p {
  text-align: center;
  margin: 0 auto;
  width: 12rem;
  padding: 1.25rem 0;
}

main {
  width: 100%;
}

main > section {
  padding: 0 1.25rem;
}

main > section > header {
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 2.25rem;
}

main > section > header:after {
  content: '';
  width: 6rem;
  height: 0.5rem;
  position: absolute;
  left: 50%;
  margin-left: -3rem;
  background-color: #194fd6;
  bottom: -3rem;
}

body > header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3333;
  background-color: #fff;
}

body > header > h1.company-name {
  background-color: #fff;
  height: 5rem;
  flex-grow: 1;
}

body > header > h1.company-name a {
  background: url(../images/rebased-logo-full.png) no-repeat 1.25rem;
  background-size: auto 2rem;
  display: block;
  text-indent: -9999px;
  height: 5rem;
}

nav.menu {
  flex-grow: 1;
  max-width: 5rem;
}

nav.menu > button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1.6rem;
  font-size: 2rem;
  border: 0;
  background-color: #fff;
  outline: none;
  height: 5rem;
  margin: 0;
}

nav.menu > button:active {
  border: none;
  background-color: #fff
}

nav.menu.active > button.hamburger-button {
  background-color: #1E1E1E;
  color: #fff;
}

nav.menu .menu-items {
  height: 0;
  z-index: 1000000;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 1.25rem;
  width: 100%;
  background-color: #1E1E1E;
  position: fixed;
  left: 0;
  top: 5rem;
  bottom: 0;
  overflow-y: scroll;
  transition: 0.5s;
}

nav.menu.active .menu-items {
  height: calc(100% - 5rem);
  padding-bottom: 2rem;
}

nav.menu .menu-items li,
nav.menu .menu-items li:hover {
  display: block;
  padding: 1.5rem 1rem;
}

nav.menu .menu-items li:hover {
  background-color: #194fd6;
}

nav.menu .menu-items a,
nav.menu .menu-items a:hover,
nav.menu .menu-items ul li a,
nav.menu .menu-items ul li a:hover {
  text-decoration:none;
  color: #fff;
}

aside.contact-form-wrapper > form.contact-form input,
aside.contact-form-wrapper > form.contact-form button {
  width: 100%;
  padding: 0.5rem;
  font-family: "Roboto";
  box-sizing: border-box;
}

aside.contact-form-wrapper > form.contact-form input {
  border: 0.01rem solid #fff;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 100;
  margin: 0.4rem 0;
  -webkit-appearance: none;
}

aside.contact-form-wrapper > form.contact-form button {
  cursor: pointer;
  background-color: #00ea84;
  border: 0.01rem solid #00ea84;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.25rem;
  margin: 0.8rem 0;
}

aside.contact-form-wrapper > form.contact-form button.after-submit {
  font-size: 1rem;
}

aside.contact-form-wrapper {
  font-family: "Montserrat";
  color: #000;
}

aside.contact-form-wrapper > p.prompt {
  text-transform: uppercase;
}

aside.contact-form-wrapper a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

aside.contact-form-wrapper > p.disclaimer {
  font-family: "Roboto";
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#projects,
#open-source,
#contact,
#community,
#team {
  padding-top: 5rem;
}

#intro {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
}

#intro p#header,
#intro p#subheader {
  font-family: "Montserrat";
  color: #fff;
}

#intro p#header {
  font-size: 2rem;
  text-transform: uppercase;
}

#intro p#subheader {
  font-size: 1.1rem;
  padding-top: 1rem;
}

#intro aside.contact-form-wrapper {
  padding-top: 2rem;
}

#intro aside.contact-form-wrapper > p.prompt {
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
  width: 16rem;
}

#intro aside.contact-form-wrapper > p.prompt:after {
  content: "";
  display: block;
  border-bottom: 0.06rem solid #fff;
  width: 2rem;
  height: 1rem;
}

#intro aside.contact-form-wrapper form > header {
  color: #fff;
  font-weight: 400;
  padding: 1rem 0;
  margin: 0;
  line-height: 1.25rem;
}

#intro aside.contact-form-wrapper form > footer {
  text-align: right;
  font-size: 0.9rem;
  padding-top: 0.5rem;
}

#intro aside.contact-form-wrapper > p.disclaimer {
  padding: 1.75rem 0 0;
}

#pitch {
  text-align: center;
  padding-top: 1rem;
}

#pitch p {
  padding: 0 1rem;
  color: #474747;
  line-height: 2rem;
  font-weight: 100;
  letter-spacing: 0.005rem;
  font-size: 1.25rem;
  margin: auto;
}

#pitch span.call-to-action {
  font-weight: 700;
}

#team {
  margin: 0 auto -4rem;
  text-align: center;
}

#team ul {
  padding-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#team li {
  width: 17.5rem;
  margin: 2.5rem 0;
}

#team figcaption footer a {
  width: 3.1875rem;
  height: 3.125rem;
  display: inline-block;
}

#team figure {
  position: relative;
  margin: 0;
}

#team figure:hover figcaption {
  background: rgba(25,79,214,0.9);
}

#team figure:hover img,
#team figure:hover header,
#team figure:hover p {
  transition: all .2s;
  transition-delay: .1s;
}

#team figure:hover img {
  top: 0;
  opacity: 1;
}

#team figure:hover header {
  margin-top: 7.5rem;
  font-size: 2.75rem;
  font-weight: 700;
  top: 0;
}

#team figure:hover p {
  bottom: 0;
  opacity: 1;
}

#team figure > img {
  width: 17.5rem;
  height: auto;
  background-color: gray;
}

#team figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: #FFF;
  transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  overflow: hidden;
}

#team figcaption header {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  opacity: 1;
  margin: 14rem 0 -10rem;
}

#team figcaption header p {
  font-size: 1rem;
  line-height: 160%;
  opacity: 0;
}

#team figcaption footer {
  margin-top: 3.5rem;
}

#team figcaption > p {
  height: 6.25rem;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.15rem;
  position: relative;
  bottom: 100%;
  opacity: 0;
  margin: auto;
  padding: 0 0.5rem;
}

#team a.hide-twitter {
  margin: auto;
}

.hide,#intro header:after,#team footer a.hide,.hide-twitter img.twitter,.hide-github img.github {
  display: none;
}

#team .divider-line,
#team.extended hr.divider-line {
  position: relative;
  height: 0.0625rem;
  color: #a0a0a0;
  width: 100%;
  left: 0;
}

#team hr.divider-line {
  top: -5.75rem;
}

#team div.divider-button-background,
#team.extended div.divider-button-background {
  background-color: #FFF;
  height: 2.5rem;
  overflow: visible;
  position: relative;
  top: -2.375rem;
}

#team a.divider-button {
  display: block;
  width: 3.875rem;
  height: 1.9375rem;
  margin: auto;
}

#team a.divider-button > img {
  border-top: 0.0625rem solid #FFF;
  overflow: hidden;
  position: relative;
  top: 0.0625rem;
  z-index: 2222;
}

#team > section {
  overflow: hidden;
  height: 48rem;
  width: 100%;
  margin: auto;
}

#team.extended section#team-list {
  height: auto;
}

#team.extended hr.divider-line {
  top: -1.9375rem;
}

#team.extended div.divider-button-background {
  top: -1rem;
}

#team.extended div.divider-button-background a.divider-button img {
  margin-top: 0.625rem;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  position: relative;
  bottom: 1.375rem;
}

#team .twitter {
  background: url(../images/twitter.png) no-repeat center center;
  margin: 1rem;
}

#team .github {
  background: url(../images/github.png) no-repeat;
  margin: 1rem;
}

#team .instagram {
  background: url(../images/instagram.png) no-repeat;
  margin: 1rem;
}

#projects {
  margin-bottom: 0;
}

#projects .projects-portfolio {
  padding-top: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects .projects-portfolio li {
  color: #474747;
  font-weight: 100;
  line-height: 150%;
  padding-top: 1.5rem;
}

#projects .projects-portfolio figure {
  display: table;
}

#projects .projects-portfolio figure > figcaption {
  text-align: center;
  width: 100%;
  display: table-caption;
  caption-side: bottom;
}

#projects .projects-portfolio figure > img {
  margin: 1.25rem;
}

#open-source {
  color: #373737;
  text-align: center;
}

#open-source > header {
  margin-bottom: 5rem;
}

#open-source > ul > li {
  border-bottom-width: 0.1rem;
  border-color: #8F8F8F;
  border-style: solid;
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#open-source > ul > li:last-child {
  border: none;
}

#open-source > ul > li > img {
  width: 5rem;
  padding-bottom: 1rem;
}

#open-source .open-source-project {
  max-width: 65%;
  padding-left: 2rem;
}

#open-source .open-source-project > header {
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
}

#open-source .open-source-project > p {
  font-size: 1rem;
  line-height: 1.25rem;
}

#open-source .contributors {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#open-source .contributors > figure {
  margin: 0.3rem;
  padding: 0;
  position: relative;
}

#open-source .contributors figure > img {
  width: 6rem;
  height: 6rem;
}

#open-source .contributors figure > a {
  position: absolute;
  opacity: 0;
  height: 6rem;
  width: 6rem;
  margin: 0;
  top: 0;
}

#open-source .contributors figure > a:hover {
  opacity: 1;
}

#open-source .contributors figure > a > img {
  padding: 1.5rem;
  background-color: rgba(25,107,246,0.6);
  width: 3rem;
  height: 3rem;
}

#community > header {
  margin-bottom: 5rem;
}

#community > ul {
  padding-top: 1rem;
}

#community > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#community .community-project {
  margin: 2rem 0 3rem;
}

#community .community-project > header {
  text-align: center;
  font-size: 1.75rem;
  font-family: 'Roboto', sans-serif;
  color: #474747;
  margin-bottom: 2rem;
}

#community .community-project > p {
  font-size: 0.9rem;
  line-height: 160%;
  font-weight: 100;
}

#contact {
  color: #373737;
}

#contact > header {
  font-size: 1.8rem;
}

#contact .company-info {
  padding: 3rem 0;
}

#contact .map a {
  display: block;
  padding: 4rem 0 0;
  height: 25rem;
  background: url(../images/contact/rebased_mapa3.png) no-repeat center;
}

#contact .address-details-wrapper {
  padding: 2rem calc((100vw - 13rem)/2) 0;
}

#contact .company-logo {
  padding: 3rem 0.75rem;
}

#contact .address-details {
  line-height: 1.5rem;
}

#contact address {
  font-weight: 100;
  font-style: normal;
}

#contact .address-details .email-address {
  margin: 0.5rem 0;
}

#contact .address-details .email-address > a {
  color: #194fd6;
  text-decoration: none;
  font-size: 1.1rem;
}

#contact .address-details > .vat-id {
  font-weight: 100;
}

#contact aside.contact-form-wrapper,
#jobs aside.contact-form-wrapper {
  text-align: center;
  padding: 2rem 0;
}

#contact aside.contact-form-wrapper > p.prompt,
#jobs aside.contact-form-wrapper > p.prompt {
  font-size: 1.3rem;
  color: #24EA71;
  margin: 1.5rem 0;
  line-height: 1.25rem;
}

#contact aside.contact-form-wrapper > p.contact-options,
#jobs aside.contact-form-wrapper > p.contact-options {
  line-height: 1.25rem;
}

#contact aside.contact-form-wrapper > form.contact-form,
#jobs aside.contact-form-wrapper > form.contact-form {
  padding: 1.5rem 0 0;
}

#contact aside.contact-form-wrapper .contact-form input,
#jobs aside.contact-form-wrapper .contact-form input {
   border: 0.01rem solid #DADADA;
}

#contact aside.contact-form-wrapper > p.disclaimer,
#jobs aside.contact-form-wrapper > p.disclaimer {
  padding: 1.5rem 0 0;
}

#contact .social-media-wrapper,
#jobs .social-media-wrapper {
  display: flex;
  justify-content: center;
}

#contact .social-media-wrapper a,
#jobs .social-media-wrapper a {
  cursor: pointer;
}

#contact .social-media-wrapper img,
#jobs .social-media-wrapper img {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

#jobs {
  background: url(../images/header-jobs-mobile.png) no-repeat right 5rem;
}

#jobs header {
  background-color: #fff;
}

#jobs #jobs-intro {
  color: #fff;
  font-family: "Montserrat";
  padding: 0 0 2rem;
  text-align: center;
}

#jobs #jobs-intro h1 {
  padding: 7rem 1rem 0.5rem;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
}

#jobs #jobs-intro h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 0 3rem 9rem;
  font-weight: 400;
}

#jobs .job-offer > p,
#jobs .job-offer li,
#jobs .job-offer > footer {
  color: #474747;
  word-wrap: break-word;
  font-weight: 300;
  text-align: left;
  letter-spacing: -0.02rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

#jobs .job-offer > p,
#jobs .job-offer > ul {
  padding-bottom: 1.5rem;
}

#jobs .job-offer li {
  padding-left: 1.75rem;
  text-indent: -0.6rem;
}

#jobs .job-offer li:before {
  content: "• ";
  color: #194fd6;
  font-weight: 700;
}

#jobs .job-offer h3 {
  padding: 0.5rem 0;
}

#jobs .job-offer a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

#academy {
  background: url(../images/header-academy-mobile.png) no-repeat right 5rem;
}

#academy header {
  background-color: #fff;
}

#academy #academy-intro {
  color: #fff;
  font-family: "Montserrat";
  padding: 0 0 2rem;
  text-align: center;
}

#academy #academy-intro h1 {
  padding: 7rem 1rem 0.5rem;
  font-size: 2rem;
  line-height: 1.1;
  text-transform: uppercase;
}

#academy #academy-intro h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  padding: 0 3rem 9rem;
  font-weight: 400;
}

#academy .academy-info > p,
#academy .academy-info li,
#academy .academy-info > footer {
  color: #474747;
  word-wrap: break-word;
  font-weight: 500;
  text-align: left;
  letter-spacing: -0.02rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

#academy .academy-info > p,
#academy .academy-info > ul {
  padding-bottom: 1.5rem;
}

#academy .academy-info li {
  padding-left: 1.75rem;
  text-indent: -0.6rem;
}

#academy .academy-info li:before {
  content: "• ";
  color: #194fd6;
  font-weight: 700;
}

#academy .academy-info h3 {
  padding: 0.5rem 0;
}

#academy .academy-info a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

@media (min-width: 768px) {
  body {
    background-position: -8rem 1rem;
  }

  main > section > header {
    font-size: 3rem;
  }

  main > footer {
    background: url(../images/footer.png);
    background-size: cover;
  }

  nav.menu .menu-items {
    bottom: initial;
  }

  nav.menu.active .menu-items {
    height: 29rem;
  }

  #intro {
    padding-top: 6rem;
    display: flex;
    overflow: visible
  }

  #intro .header-wrapper {
    flex-basis: auto;
    padding-top: 8rem;
  }

  #intro p#header {
    font-size: 2.8rem;
    font-weight: 700;
  }

  #intro p#subheader {
    font-size: 2.4rem;
  }

  #intro aside {
    flex-basis: 24rem;
    padding-left: 1rem;
  }

  #intro aside footer,
  #intro aside footer a {
    color: #fff;
  }

  #pitch {
    padding-top: 3rem;
  }

  #pitch > p {
    font-size: 1.2rem;
    margin: 0;
    letter-spacing: -0.01rem;
  }

  #pitch > p:first-of-type:before,
  #pitch > p:first-of-type:after {
    display: inline-block;
    font-size: 7.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #194fd6;
    position: relative;
    top: 2rem;
  }

  #pitch > p:first-of-type:before {
    content: "{";
    float: left;
    left: -2rem;
  }

  #pitch > p:first-of-type:after {
    content: "}";
    float: right;
    right: -2rem;
  }

  #team > section {
    height: 59rem;
  }

  #team ul {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: center;
  }

  #team li {
    margin: 3rem 1.25rem;
    width: 20rem;
  }

  #team figure > img {
    width: 20rem;
  }

  #team figcaption header {
    font-size: 3.5rem;
    margin: 15rem 0 -10rem;
  }

  #team figure:hover header {
    margin-top: 8.5rem;
    font-size: 4rem;
  }

  #team figure:hover p {
    bottom: 2rem;
    font-size: 1.1rem;
  }

  #projects .projects-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 calc((100vw - 47rem)/2);
  }

  #projects .projects-portfolio li {
    padding: 2rem;
  }

  #open-source > ul > li {
    border: none;
  }

  #open-source > ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #community > ul > li {
    flex-direction: row;
  }

  #community > ul > li > img {
    padding: 0 1rem;
    width: 9rem;
    height: 7.5rem;
  }

  #community .community-project {
    padding-left: 4rem;
  }

  #community .community-project header {
    text-align: left;
    font-size: 2rem;
    margin: 1rem 0;
  }

  #contact > header {
    font-size: 3.2rem;
    width: 42rem;
    margin: 0 auto 2.25rem;
  }

  #contact .map img {
    padding-top: 3rem;
    display: block;
    margin: 0 auto;
  }

  #contact .address-details-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
  }

  #contact .company-logo {
    width: auto;
    height: 6rem;
    padding: 0;
  }

  #contact .address-details {
    padding-left: 2rem;
  }

  #contact aside.contact-form-wrapper > form.contact-form input,
  #jobs aside.contact-form-wrapper > form.contact-form input {
    width: 40%;
    max-width: 20rem;
    margin: 1.5rem 0.5rem;
  }

  #contact aside.contact-form-wrapper > form.contact-form button,
  #jobs aside.contact-form-wrapper > form.contact-form button {
    cursor: pointer;
    display: block;
    margin: auto;
    text-align: center;
    width: initial;
    padding: 0.5rem 2rem;
  }

  #contact p.disclaimer,
  #jobs p.disclaimer {
    max-width: 34rem;
    margin: auto;
  }

  body > footer p {
    width: auto;
    padding: 1.75rem 0;
  }

  #jobs {
    background: url(../images/header-jobs-desktop.png) no-repeat -25vw 5rem;
    background-size: 150vw;
  }

  #jobs #jobs-intro h1 {
    padding: 7.5rem 0 0.5rem;
    font-size: 2rem;
  }

  #jobs #jobs-intro h2 {
    width: 20rem;
    margin:auto;
    font-size: 1.25rem;
    padding-bottom: 3rem;
  }

  #jobs .job-offer {
    padding-top: 7rem;
  }

  #academy {
    background: url(../images/header-academy-desktop.png) no-repeat -25vw 5rem;
    background-size: 150vw;
  }

  #academy #academy-intro h1 {
    padding: 7.5rem 0 0.5rem;
    font-size: 2rem;
  }

  #academy #academy-intro h2 {
    width: 20rem;
    margin:auto;
    font-size: 1.25rem;
    padding-bottom: 3rem;
  }

  #academy .academy-info {
    padding-top: 7rem;
  }
}

@media (min-width: 992px) {
  body,
  body.noscroll {
    background: url(../images/header.png) no-repeat;
    background-size: contain;
    background-position: 0 5rem;
    overflow: visible;
  }

  body > header {
    display: flex;
    padding: 0 calc((100vw - 52rem)/2);
    width: 52rem;
  }

  body > header > h1.company-name {
    flex-grow: 3;
  }

  body > header > h1.company-name a {
    background-size: contain;
    width: 9rem;
    background-position: center;
  }

  body > header nav button {
    display: none;
  }

  nav.menu {
    max-width: initial;
    flex-grow: 7;
  }

  nav.menu .menu-items,
  nav.menu.active .menu-items {
    position: initial;
    display: flex;
    background-color: #fff;
    padding-bottom: 0;
    height: 100%;
    transition: none;
    overflow: hidden;
  }

  nav.menu .menu-items li,
  nav.menu .menu-items li:hover {
    padding: 0;
    margin: 0;
    line-height: 5rem;
    flex-grow: 1;
    text-align: center;
  }

  nav.menu .menu-items li:hover {
    background-color: #186bf5;
  }

  nav.menu .menu-items li a,
  nav.menu .menu-items li a:hover {
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    margin: 0;
  }

  nav.menu .menu-items li a:hover {
    color: #fff;
  }

  main > section {
    padding: 0;
    width: 52rem;
    margin: auto;
  }

  #jobs .current {
    position: relative;
  }

  #jobs .current::after {
    content: "";
    border-bottom: 0.25rem solid #194fd6;
    position: absolute;
    left: 32%;
    bottom: 1.25rem;
    width: 1.5rem;
  }

  #academy .current {
    position: relative;
  }

  #academy .current::after {
    content: "";
    border-bottom: 0.25rem solid #194fd6;
    position: absolute;
    left: 32%;
    bottom: 1.25rem;
    width: 1.5rem;
  }

  #intro p#header {
    font-size: 3.75rem;
  }

  #intro p#subheader {
    font-size: 2.1rem;
  }

  #intro aside.contact-form-wrapper form > footer,
  #intro aside.contact-form-wrapper form > footer > a {
    color: #fff;
  }

  #intro aside {
    flex-basis: 16rem;
    flex-shrink: 0;
  }

  #intro aside.contact-form-wrapper form > header {
    font-size: 0.9rem;
  }

  #intro aside.contact-form-wrapper > p.disclaimer {
    font-size: 0.8rem;
  }

  #pitch > p {
    font-size: 1.2rem;
    margin: 0 1.75rem;
    letter-spacing: -0.01rem;
  }

  #team > section {
    height: 40rem;
  }

  #team ul {
    margin: 2rem 0;
  }

  #team li,
  #team figure > img {
    width: 14.5rem;
  }

  #team li {
    margin: 1.25rem;
  }

  #team figcaption header {
    font-size: 2rem;
    margin: 11rem 0 -10rem;
  }

  #team figure:hover header {
    margin-top: 6rem;
    font-size: 2.25rem;
  }

  #team figure:hover p {
    bottom: -1.25rem;
    font-size: 0.75rem;
  }

  #projects .projects-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  #projects .projects-portfolio li {
    padding: 1rem;
    flex-grow: 1;
    min-height: 17.5rem;
    align-self: flex-start;
  }

  #projects .projects-portfolio li:nth-of-type(3n-1) {
    border-right-width: 0.01rem;
    border-left-width: 0.01rem;
    border-color: #d6d6d6;
    border-style: solid;
  }

  #projects .projects-portfolio li:nth-of-type(-n+3) {
    border-bottom: 0.01rem #d6d6d6 solid;
    align-self: flex-end;
  }

  #projects .projects-portfolio li img {
    width: 12.25rem;
    height: auto;
  }

  #projects .projects-portfolio li p {
    font-size: 0.9rem;
  }

  #open-source > ul> li,
  #open-source > ul > li:last-child {
    flex-direction: row;
    border-bottom: 0.01rem #8F8F8F solid;
    text-align: left;
    justify-content: space-between;
  }

  #open-source > ul > li > img {
    padding-right: 1rem;
  }

  #open-source .two-contributors > img {
    padding-right: 0;
  }

  #open-source .open-source-project {
    flex-grow: 2;
  }

  #open-source .two-contributors > .open-source-project {
    padding-left: 0;
    margin-left: 3rem;
  }

  #open-source .open-source-project header {
    padding-bottom: 1rem;
  }

  #open-source .open-source-project p {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5;
  }

  #open-source .contributors {
    padding-left: 2rem;
    flex-wrap: nowrap;
  }

  #open-source .two-contributors > .contributors {
    padding-left: 0;
  }

  #open-source .contributors > figure {
    display: table-cell;
    padding: 0.5rem;
  }

  #open-source .contributors > figure a {
    top: 0.5rem;
  }

  #contact > header {
    font-size: 3rem;
    width: initial;
  }

  #contact .contact-info-wrapper {
    display: flex;
  }

  #contact .map {
    flex: 1;
  }

  #contact .address-details-wrapper {
    flex-direction: column;
  }

  #jobs {
    background: url(../images/header-jobs-desktop.png) no-repeat 0 5rem;
    background-size: 120vw;
  }

  #jobs #jobs-intro {
    padding-bottom: 5.5rem;
  }

  #jobs #jobs-intro h1 {
    padding-top: 7.5rem;
    font-size: 3rem;
  }

  #jobs #jobs-intro h2 {
    font-size: 1.75rem;
    width: initial;
  }

  #jobs .job-offer {
    padding-top: calc(7vw);
  }

  #academy {
    background: url(../images/header-academy-desktop.png) no-repeat 0 5rem;
    background-size: 120vw;
  }

  #academy #academy-intro {
    padding-bottom: 5.5rem;
  }

  #academy #academy-intro h1 {
    padding-top: 7.5rem;
    font-size: 3rem;
  }

  #academy #academy-intro h2 {
    font-size: 1.75rem;
    width: initial;
  }

  #academy .academy-info {
    padding-top: calc(10vw);
  }
}

@media (min-width: 1550px) {
  body {
    background: url(../images/header.png) no-repeat;
    background-size: contain;
    background-position: 0 -3vw;
  }
}

@media (min-width: 1750px) {
  body {
    background: url(../images/header.png) no-repeat;
    background-size: contain;
    background-position: 0 -10vw;
  }

  #intro aside.contact-form-wrapper > p.disclaimer {
    color: #fff;
  }

  #jobs {
    background: url(../images/header-jobs-desktop.png) no-repeat 0 2rem;
    background-size: 100vw;
  }

  #jobs .job-offer {
    padding-top: calc(9vw);
  }
}

@media (min-width: 2000px) {
  #jobs {
    background: url(../images/header-jobs-desktop.png) no-repeat 0 0;
    background-size: 100vw;
  }
}
