html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

#crystals #header-section {
  background-color: #1A2755;
  background: url("../images/landing/header_bg_crystals_720px.png") no-repeat center;
  background-size: cover;
}

#crystals #intro {
  background-color: #ebf0f9;
  background: url("../images/landing/light_bg_crystals_720px.png") no-repeat right;
  background-size: cover;
}

#crystals #intro .claim {
  color: #1F2E68;
}

#crystals #recommendations {
  background-color: #ebf0f9;
  background: url("../images/landing/light_bg_crystals_720px.png") no-repeat right;
  background-size: cover;
}

#crystals #recommendations .carousel-control {
  color: #25286F;
}

#crystals #recommendations .carousel .opinion:before,
#crystals #recommendations .carousel .opinion:after {
  color: #D8D0ED;
}

#crystals #tools {
  background-color: #F0F5FC;
}

#crystals #main-footer {
  background-color: #0A1639;
}

#gradient #header-section {
  background: linear-gradient(45deg, #B029F1, #491AAD, #030E73);
}

#gradient #intro .claim {
  color: #521CB3;
}

#gradient #reasons {
  background: #DED1F4;
}

#gradient #recommendations {
  background: #EEE4FF;
}

#gradient #recommendations .carousel-control {
  color: #4C2BA4;
}

#gradient #recommendations .carousel .opinion:before,
#gradient #recommendations .carousel .opinion:after {
  color: #CFC4E9;
}

#gradient #tools {
  background: #EEE4FF;
}

#gradient #main-footer {
  background: #3917A0;
}

.main-page > section, #main-footer {
  padding: 1.5rem 0.5rem;
}

.call-to-action, .claim, .tagline, .prompt {
  font-family: Montserrat;
  font-weight: 700;
}

.call-to-action, .claim {
  font-size: 3.5rem;
}

.prompt {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: normal;
  width: 9rem;
}

#header-section .contact-form header,
#header-section .contact-form footer,
#main-footer .wrapper,
#main-footer .form-footer {
  font-family: Montserrat;
  font-size: 0.9rem;
  margin: 1.4rem 0;
}

#header-section .contact-form footer, #main-footer .form-footer {
  text-align: right;
}

#intro,
#reasons,
#recommendations,
#header-section .disclaimer,
#main-footer .disclaimer,
#header-section .contact-form input,
#header-section .contact-form button,
#main-footer .contact-form input,
#main-footer .contact-form button {
  font-family: Roboto;
  font-weight: 100;
}

#header-section {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

#header-section .company-header {
  font-family: Montserrat;
}

#header-section .company-header,
#header-section .contact-form-wrapper {
  flex-basis: 100%;
}

#header-section .company-header .company-name {
  font-size: 2.4rem;
  margin-top: 0.7rem;
}

#header-section .company-header .company-name:after {
  content: "";
  display: block;
  border-bottom: 0.06rem solid #fff;
  width: 6rem;
  height: 3rem;
}

#header-section .company-header,
#header-section .hire-us {
  font-size: 1.1rem;
}

#header-section .contact-form:before,
#header-section .contact-form:after {
  content: "";
  display: block;
  width: 2rem;
  height: 0.06rem;
  background-color: #fff;
}

#header-section .contact-form input,
#header-section .contact-form button,
#main-footer .contact-form input,
#main-footer .contact-form button {
  width: 100%;
  box-sizing: border-box;
  margin: 0.3rem 0;
  padding: 0.6rem 0.75rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 0;
}

#header-section .contact-form button,
#main-footer .contact-form button {
  color: #fff;
  background-color: #00EA84;
  font-weight: 400;
}

#header-section .disclaimer,
#main-footer .disclaimer {
  font-size: 0.9rem;
  margin-top: 2.5rem;
}

#intro .tagline {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
  color: #464646;
}

#intro .claim {
  margin: 1.5rem 0 0 0;
  max-width: 19rem;
}

#intro .greeting {
  font-size: 1.4rem;
}

#reasons .reasons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem calc((100vw - 17.5rem)/2);
}

#reasons .reasons-list li {
  flex-basis: 100%;
}

#reasons .reasons-list li figure {
  text-align: center;
  margin: 2rem 0.5rem;
}

#reasons .reasons-list li figure img {
  width: 8rem;
  height: 8rem;
}

#reasons .reasons-list li figure figcaption {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #5A5A5E;
}

#recommendations {
  text-align: center;
}

#recommendations .carousel {
  position: relative;
  overflow: hidden;
  padding: 0 2.5rem;
}

#recommendations .carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

#recommendations .carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

#recommendations .carousel-item img {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 6rem;
  max-width: 14rem;
}

#recommendations .carousel-item .opinion {
  background-color: #FFF;
  color: #5A5A5E;
  position: relative;
  padding: 4rem 1.5rem;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.5;
}

#recommendations .carousel-item .bubble-triangle {
  content: '';
  display: block;
  position: absolute;
  top: -0.7rem;
  left: calc(50% - 0.4rem);
  border-right: 0.8rem solid transparent;
  border-bottom: 0.8rem solid #fff;
  border-left: 0.8rem solid transparent;
}

#recommendations .carousel .opinion:before,
#recommendations .carousel .opinion:after {
  display: block;
  font-family: serif;
  font-size: 6rem;
  position: absolute;
  transform: translateX(-55%);
}

#recommendations .carousel .opinion:before {
  content: '\201C';
  top: -1rem;
  right: 50%;
  transform: translateX(50%);
}

#recommendations .carousel .opinion:after {
  content: '\201D';
  bottom: -4rem;
  left: 50%;
  transform: translateX(-55%);
}

#recommendations .carousel-control {
  cursor: pointer;
  display: none;
  font-size: 8rem;
  height: 3.75rem;
  line-height: 2rem;
  position: absolute;
  top: 55%;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  text-align: center;
  width: 2.5rem;
  z-index: 10;
}

#recommendations .carousel-control.prev {
  left: -0.25rem;
}

#recommendations .carousel-control.next {
  right: -0.25rem;
}

#recommendations .carousel-control:hover {
  color: #E1E1E1;
}

#recommendations #carousel-1:checked ~ .control-1,
#recommendations #carousel-2:checked ~ .control-2,
#recommendations #carousel-3:checked ~ .control-3,
#recommendations #carousel-4:checked ~ .control-4 {
  display: block;
}

#core-technologies .technologies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 calc((100vw - 20rem)/2);
}

#core-technologies .technologies-list li {
  flex-basis: 100%;
  text-align: center;
  margin: 1rem 0;
}

#core-technologies .technologies-list li img {
  width: 12rem;
  height: 12rem;
}

#tools .tools-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 calc((100vw - 20rem)/2);
}

#tools .tools-list li {
  flex: 1 50%;
  margin: 1rem 0;
  text-align: center;
}

#main-footer {
  color: #FFF;
}

#main-footer .form-footer-large-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {

  .main-page > section {
    padding: 1.5rem 2.5rem;
  }

  #header-section {
    padding-top: 4rem;
  }

  #header-section .company-header {
    flex-basis: 65%;
  }

  #header-section .contact-form-wrapper {
    flex-basis: 35%;
  }

  #header-section .company-header .call-to-action {
    font-size: 4.5rem;
  }

  #intro .claim {
    font-size: 3.8rem;
    max-width: initial;
  }

  #intro .greeting {
    font-size: 1.8rem;
  }

  #reasons .reasons-list {
    margin: 2rem calc((100vw - 40rem)/2);
  }

  #reasons .reasons-list li {
    flex-basis: 50%;
    min-height: 14rem;
    padding: 2rem 0;
  }

  #reasons .reasons-list li figure {
    margin: 0 0.5rem;
  }

  #recommendations .carousel {
    padding: 0 4.5rem;
  }

  #recommendations .carousel img {
    max-width: 20rem;
  }

  #recommendations .carousel .opinion {
    font-size: 1.8rem;
    padding: 1.8rem 5.5rem;
  }

  #recommendations .carousel .opinion:before {
    content: '\201D';
    right: 0.5rem;
    transform: translateX(0);
  }

  #recommendations .carousel .opinion:after {
    content: '\201C';
    left: 0;
    transform: translateX(0);
  }

  #core-technologies .technologies-list,
  #tools .tools-list {
    margin: 0 calc((100vw - 36rem)/2);
  }

  #core-technologies .technologies-list li,
  #tools .tools-list li {
    flex-basis: 50%;
    text-align: center;
  }

  #main-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 3.5rem;
  }

  #main-footer .wrapper,
  #main-footer .contact-form {
    flex-basis: 50%;
  }

  #main-footer .wrapper,
  #main-footer .prompt {
    margin-top: 0;
  }

  #main-footer .prompt {
    font-size: 1.7rem;
  }

  #main-footer .form-footer {
    text-transform: uppercase;
  }

  #main-footer .disclaimer {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {

  .main-page > section, #main-footer {
    padding: 1.5rem 8rem;
  }

  #crystals #header-section {
    background: url("../images/landing/header_bg_crystals.png") no-repeat center;
    background-size: cover;
  }

  #crystals #intro {
    background: url("../images/landing/light_bg_crystals.png") no-repeat right;
    background-size: cover;
  }

  #header-section {
    padding-right: 3rem;
  }

  #header-section .company-header {
    padding-right: 3rem;
    flex-basis: calc(70% - 3rem);
  }

  #header-section .company-header .call-to-action {
    margin-left: -4rem;
  }

  #header-section .contact-form-wrapper {
    flex-basis: 30%;
  }

  #intro .claim {
    font-size: 4.2rem;
  }

  #intro .greeting {
    padding-left: 10rem;
  }

  #reasons .reasons-list {
    margin: 2rem 0;
  }

  #reasons .reasons-list li {
    padding: 0;
  }

  #reasons .reasons-list li figure {
    display: table;
    margin: 2rem 0;
  }

  #reasons .reasons-list li figure figcaption {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 0 2rem;
  }

  #reasons .reasons-list li figure img {
    display: table-cell;
  }

  #core-technologies .technologies-list,
  #tools .tools-list {
    margin: 0 calc((100vw - 50rem)/2);
  }
}

@media only screen and (min-width: 1200px) {

  .main-page section, #main-footer {
    padding: 1.5rem calc((100vw - 62.5rem)/2);
  }

  #header-section {
    padding-right: calc((100vw - 62.5rem)/5);
  }

  #header-section .company-header {
    padding-right: 4rem;
    flex-basis: calc(70% - 4rem);
  }

  #intro .claim {
    font-size: 5.5rem;
  }

  #core-technologies .technologies-list,
  #tools .tools-list {
    margin: 0;
  }

  #core-technologies .technologies-list li {
    flex-basis: calc(25% - 2rem);
    padding: 0 1rem;
  }

  #tools .tools-list li {
    flex-basis: 25%;
  }

  #main-footer .prompt {
    width: auto;
  }

  #main-footer .form-footer {
    display: none;
  }

  #main-footer .form-footer-large-desktop {
    display: block;
  }

  #main-footer .wrapper {
    flex-basis: 50%;
  }

  #main-footer .contact-form {
    flex-basis: 30%;
  }

  #main-footer .form-footer-large-desktop {
    flex-basis: 20%;
    align-self: flex-end;
    margin-bottom: 0.3rem;
  }

  #main-footer .disclaimer {
    margin-top: 2.5rem;
  }
}
