section#contact > img {
  position: relative;
  top: 70px;
  left: -160px;
  float: right;
}

section#contact >  figure {
  padding-top: 30px;
}

#contact figure > img {
  float: left;
  padding-left: 10px;
}

section#contact figcaption {
  position: relative;
}

#contact figcaption > section:first-of-type,
#contact figcaption > section:last-of-type {
  position: absolute;
  width: 180px;
  height: 184px;
  top: 224px;
  display: inline-block;
}

#contact figcaption > section:first-of-type {
  left: 640px;

}

#contact figcaption > section:last-of-type {
  left: 886px;
}

#title, #contact figcaption address {
  font-size: 16px;
  line-height: 160%;
}

#title, #contact figcaption header, #title {
  letter-spacing: -1px;
}

#contact figcaption section:first-of-type > header {
  margin-bottom: 24px;
  margin-top: -3px;
}

#contact figcaption section:last-of-type > header {
  margin-bottom: 58px;
  margin-top: -3px;
}

#contact figcaption section:first-of-type > address {
  margin-top: 12px;
}

#title {
  font-weight: bold;
  display: inline-block;
  margin-top: -3px;
}

#contact figcaption address {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 100;
}

section#contact > figure figcaption section > header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
