section#contact {
  width: 1052px;
  margin: auto;
}

section#contact > .map {
  display: inline-block;
}

section#contact > .map-lower {
  display: none;
  width: 515px;
  margin: auto;
}

section#contact >  figure {
  padding-top: 30px;
  width: 515px;
  display: inline-block;
  margin: auto;
}

#contact figcaption > div {
  padding-left: 70px;
  width: 425px;
  margin: auto;
}

#contact figure img {
  margin: auto;
  position: relative;
  padding-bottom: 100px;
  display: block;
}

section#contact figcaption {
  position: relative;
}

#contact figcaption > div > section:first-of-type,
#contact figcaption > div >section:last-of-type {
  width: 200px;
  display: inline-block;
}

#contact figcaption > section:first-of-type {
  left: 640px;

}

#contact figcaption > div > section:last-of-type {
  padding-left: 20px;
}

#title, #contact figcaption address {
  font-size: 16px;
  line-height: 160%;
}

#title, #contact figcaption header, #title {
  letter-spacing: -1px;
}

#contact figcaption section:first-of-type > header {
  margin-bottom: 24px;
  margin-top: -3px;
}

#contact figcaption section:last-of-type > header {
  margin-bottom: 58px;
  margin-top: -3px;
}

#contact figcaption section:first-of-type > address {
  margin-top: 12px;
}

#title {
  font-weight: bold;
  display: inline-block;
  margin-top: -3px;
}

#contact figcaption address {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 100;
}

section#contact > figure figcaption section > header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
