div.header-main {
  max-width: 1348px;
  position: relative;
  top: 0px;
  margin: auto;
}

body > header {
  background-color: transparent;
  position: fixed;
  top: 0px;
  width: 100%;
  min-width: 660px;
  height: 0px;
  padding: 0;
  transition: height .3s, linear;
  -webkit-transition: height .3s, linear;
  -moz-transition: height .3s, ease-in;
  -o-transition: height .3s, ease-in;
}

header{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-bottom: 36px;
}

h1 {
  display: block;
  text-indent: -9999px;
  background: url('../../images/rebased-logo-full.png') no-repeat;
  width: 200px;
  height: 40px;
  position: relative;
  top: 20px;
  left: 148px;
}

nav {
  padding: 25px 80px 0 0;
  height: 24px;
}

nav li{
  position: relative;
  font-family: 'Roboto', 'sans-serif';
}

nav li a {
  font-weight: 500;
  letter-spacing: -1px;
  font-size: 18px;
}

nav ul li a:hover:after {
  content: '';
  width: 22px;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  background-color: #2888f8;
  bottom: -6px;
}

.mobile-menu-links{
  display: none;
}

.mobile-menu{
  background-color: #555555;
  border-radius: 6px 6px 6px 6px;
  min-height: 36px;
  width: 300px;
  margin: 0 auto !important;
  overflow: hidden;
  position: relative;
  top: -10px;
  display: none;
}

.mobile-menu > ul > li {
  display: block;
  visibility: none;
}

.menu-controls{
  font-family: 'Roboto', 'sans-serif';
  background-image: url("../../images/sapphire-menu-bg.png");
  background-repeat: repeat-x;
  border-radius: 6px 6px 6px 6px;
  color: #FFFFFF;
  display: block;
  height: 36px;
  position: relative;
  text-align: left;
}

.menu-title{
  color: #FFFFFF;
  font-size: 16px;
  left: 15px;
  position: relative;
  text-shadow: 1px 1px 1px #000000;
  top: 10px;
}

.menu-button{
  display: block;
  position: absolute;
  right: 15px;
  top: 6px;
  padding:0px 7px 4px 7px;
  border:1px solid #3e587b;
  border-radius:3px;
  background-image:url('../../images/sapphire-menu-bg.png');
  background-position:top;
}

.menu-button span{
  background: none repeat scroll 0 0 #FFFFFF;
  display: block;
  height: 2px;
  margin-top: 4px;
  width: 24px;

}

.mobile-menu-links li{
  background-color: #537698;
  border-bottom: 1px solid #3C5779;
  border-top: 1px solid #6883A6;
  display: block;
  padding: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 1px #333333;
  width: 100%;
  transition: height .3s, linear;
  -webkit-transition: height .3s, linear;
  -moz-transition: height .3s, ease-in;
  -o-transition: height .3s, ease-in;
}

.mobile-menu-links li a{
  color: #fff;
}