#team figure {
  position: relative;
  margin: 0;
  cursor: pointer;
}

#team figure:hover figcaption {
  background: rgba(25, 79, 214, 0.9);
}

#team figure:hover img, #team figure:hover header, #team figure:hover p {
  transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
  transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -o-transition-delay: .1s;
}

#team figure:hover img {
  top: 0;
  opacity: 1;
}

#team figure:hover header {
  margin-top: 132px;
  font-size: 44px;
  font-weight: 800;
  top: 0;
}

#team figure:hover p {
  bottom: 0;
  overflow: visible;
  opacity: 1;
}

#team figure > img {
  width: 306px;
  height: 306px;
  background-color: gray;
}

#team figure figcaption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  color: white;
  transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
  overflow: hidden;
}

#team figcaption header {
  margin: 232px 0 -156px 0;
  font-size: 38px;
  font-weight: bold;
  position: relative;
  overflow: visible;
  opacity: 1;
  letter-spacing: -0.7px;
  /*line-height: 80%;*/
}

#team figcaption header p {
  font-size: 18px;
  line-height: 160%;
  opacity: 0;
}

#team figcaption footer{
  margin-top: 75px;
}

#team figcaption > p {
  width: 294px;
  margin: auto;
  height: 100px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 115%;
  position: relative;
  bottom: 100%;
  opacity: 0;
}

img.twitter {
  width: 50px;
  height: 40px;
  padding-bottom: 5px;
  margin-right: -30px;
}

img.github {
  position: relative;
  width: 52px;
  height: 50px;
  margin-left: -15px;
}

#team footer a {
  width: 51px;
  height: 50px;
  display: inline-block;
}

a.hide-twitter {
  margin: auto
}

#team footer a.hide {
  display: none;
}

.hide-twitter img.twitter, .hide-github img.github {
  display: none;
}


#team li {
  float: left;
  width: 306px;
  margin: 35px 35px;
}

#team li:nth-of-type(3n) {
  margin-right: 0;
}

#team li:nth-of-type(3n-2) {
  margin-left: 0;
}

#team section > footer {
  clear: both;
  display: block;
  position: relative;
  top: -1129px;
  width: 100%;
  margin: auto;
  background-color: white;
}

#team section > footer > a.toggle-button {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1865f1;
  font-weight: 900;
  letter-spacing: -1.8px;
  font-family: 'Montserrat', 'sans-serif';
}

hr.divider-line, hr.extend-divider-line {
  position: relative;
  height: 1px;
  color: rgb(160, 160, 160);
  width: 100%;
  left: 0;
}

hr.divider-line {
  top: -92px;
}

div.divider-button-background, div.extend-divider-button-background {
  background-color: white;
  height: 40px;
  overflow: visible;
  position: relative;
  top: -38px;
}


a.divider-button {
  display: block;
  width: 62px;
  height: 31px;
  margin: auto;
}

a.divider-button > img {
  border-top: 1px solid white;
  overflow: hidden;
  position: relative;
  top: 1px;
  z-index: 2222;
}

#team > section {
  overflow: hidden;
  height: 826px;
  max-width: 1058px;
  width: 100%;
  margin: auto;
}

#team section.extend-section {
  height: auto;
}

#team section > footer.extend-footer {
  top: 53px;
}

#team hr.extend-divider-line {
  top: -85px;
}

#team div.extend-divider-button-background {
  top: -60px;
}

div.extend-divider-button-background a.divider-button img {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  position: relative;
  bottom: 22px;
}

.twitter, .github{
  background: url('../../images/twitter.png') no-repeat center center;
  margin: 5px;
}

.github{
  background: url('../../images/github.png') no-repeat;
}
